{% extends 'base.html' %}
{% block style %}{% endblock %}
{% block title %}Analysis{% endblock %}

{% block navlinks %}
<a href="{{ url_for('views.home') }}">Home</a>
<a href="{{ url_for('views.auth') }}">Authenticate</a>
<a href="{{ url_for('views.csv') }}">Download Full CSV</a>
<a href="{{ url_for('views.logout') }}">Logout</a>
{% endblock %}

{% block heading %}
<h1>Analysis and Quotation</h1>
{% endblock %}

{% block main %}
<h1 class="content-heading">Analysis and Quotation</h1>
<p class="intro-text">Find here an analysis of your home's power consumption since installing the measurement device. The graph below shows the load profile for your home, divided into 30-minute periods over 24 hours. The data shown is not from a single day, but rather aggregated from all of the days for which the tool was installed. The usage and peak values displayed are the median values for all the measurements taken over multiple days for each time-period. </p>
<div class="analysis-chart-wrapper">
    <div class="chart-box">
        <canvas class="myChart" id="myChart"></canvas>
    </div>
</div>
<h1 class="body-heading">Generate a Quotation</h1>
<p class="intro-text">The goal of this quotation tool is to give you, the homeowner, an estimation of what it will cost to install a solar system to power your home during load shedding. The tool uses the conservative data shown in the chart above to make its calculation. Please use the form below to generate your quotation.</p>
<div class="quote-box">
    <div class="quote-form-box">
        <h1 class="body-heading">Quotation Options</h1>
        <p class="intro-text">Use this form to generate a personalized quotation</p>
        <form id="quote-form" class="quote-form" method="POST" action="{{ url_for('views.analysis') }}">
            <input type="hidden" name="usage_values" value="{{ usage_values }}">
            <input type="hidden" name="peak_values" value="{{ peak_values }}">
            <h4 class="body-heading">For how many hours at a time do you want your solar system to power your home?</h4>
            <input type="range" id="pwrHours" name="pwrHours" min="2" max="8">
            <label id="pwrHoursLabel" for="pwrHours"></label>
            <!-- <label for="pwrHours2"><input class="pwrHours-radio" type="radio" id="pwrHours2" name="pwrHours" value="2" required>2 Hours</label>
            <label for="pwrHours3"><input class="pwrHours-radio" type="radio" id="pwrHours3" name="pwrHours" value="3">3 Hours</label>
            <label for="pwrHours4"><input class="pwrHours-radio" type="radio" id="pwrHours4" name="pwrHours" value="4">4 Hours</label>
            <label for="pwrHours5"><input class="pwrHours-radio" type="radio" id="pwrHours5" name="pwrHours" value="5">5 Hours</label> -->
            <h4 class="body-heading">Please select your provence:</h4>
            <div class="provence-outer-box">
                <div class="provence-inner-box">
                    <label for="chargeHours_EasternCape"><input class="chargeHours-radio" type="radio" id="chargeHours_EasternCape" name="chargeHours" value="4.3" required>Eastern Cape</label>
                    <label for="chargeHours_FreeState"><input class="chargeHours-radio" type="radio" id="chargeHours_FreeState" name="chargeHours" value="5.3">Free State</label>
                    <label for="chargeHours_Gauteng"><input class="chargeHours-radio" type="radio" id="chargeHours_Gauteng" name="chargeHours" value="5.3">Gauteng</label>
                    <label for="chargeHours_KwazuluNatal"><input class="chargeHours-radio" type="radio" id="chargeHours_KwazuluNatal" name="chargeHours" value="4.3">Kwazulu-Natal</label>
                    <label for="chargeHours_Limpopo"><input class="chargeHours-radio" type="radio" id="chargeHours_Limpopo" name="chargeHours" value="4.7">Limpopo</label>
                </div>
                <div class="provence-inner-box">
                    <label for="chargeHours_Mpumalanga"><input class="chargeHours-radio" type="radio" id="chargeHours_Mpumalanga" name="chargeHours" value="4.7">Mpumalanga</label>
                    <label for="chargeHours_NorthernCape"><input class="chargeHours-radio" type="radio" id="chargeHours_NorthernCape" name="chargeHours" value="5.7">Northern Cape</label>
                    <label for="chargeHours_NorthWest"><input class="chargeHours-radio" type="radio" id="chargeHours_NorthWest" name="chargeHours" value="5.5">North West</label>
                    <label for="chargeHours_WesternCape"><input class="chargeHours-radio" type="radio" id="chargeHours_WesternCape" name="chargeHours" value="4.7">Western Cape</label>
                </div>
            </div>
            <input class="quotation-submit" type="submit" value="Generate Quotation">
        </form>
    </div>
    <div class='quote-results-box'></div>
</div>
{% endblock %}

{% block javascript %}
<script src="../static/analysis.js"></script>
<script>

    document.addEventListener("DOMContentLoaded", function() {

        const pwrHoursInput = document.getElementById("pwrHours");
        const pwrHoursLabel = document.getElementById("pwrHoursLabel");
        pwrHoursLabel.innerHTML = pwrHoursInput.value;
        pwrHoursInput.addEventListener('input', (event) => {
            let pwrHours = pwrHoursInput.value;
            pwrHoursLabel.innerHTML = pwrHours;
        });        

        const labels = {{ xlabels | safe }};
        
        const data = {
            labels: labels,
            datasets: [{
                label: "Usage (Wh)",
                backgroundColor: 'rgb(0, 83, 119)',
                borderColor: 'rgb(255, 99, 132)',
                data: {{ usage_values | safe }},
                yAxisID: 'y',
            },
            {
                label: "Peak (W)",
                backgroundColor: 'rgb(6, 167, 125)',
                borderColor: 'rgb(255, 99, 120)',
                data: {{ peak_values | safe }},
                yAxisID: 'y1',
            }]
        };

        const config = {
            type: 'bar',
            data: data,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        position: 'top'
                    },
                    title: {
                        display: true,
                        text: 'Load Profile',
                        font: {
                            size: 20,
                            family: "Poppins"
                        },
                        color: '#005377'

                    }
                },
                scales:{
                    y: {
                        type: 'linear',
                        title: "y",
                        display: true,
                        position: 'left',
                    },
                    y1: {
                        type: 'linear',
                        title: 'y1',
                        display: true,
                        position: 'right',

                        // grid line settings
                        grid: {
                        drawOnChartArea: false, // only want the grid lines for one axis to show up
                        },
                    },
                } 
            }
        };

        var ctx = document.getElementById("myChart").getContext("2d");

        var barchart = new Chart(ctx, config);
    });

</script>
{% endblock %}