{% extends 'base.html' %}
{% block style %}{% endblock %}
{% block title %}Analysis{% endblock %}

{% block navlinks %}
<a href="{{ url_for('views.home') }}">Home</a>
<a href="{{ url_for('views.auth') }}">Authenticate</a>
<a href="{{ url_for('views.logout') }}">Logout</a>
{% endblock %}

{% block heading %}
<h1>Analysis and Quotation</h1>
{% endblock %}

{% block main %}
<div class="analysis-main-box">
    <div class="chart-box">
        <canvas class="myChart" id="myChart"></canvas>
    </div>
    <div class="quote-results">
        <h2>Minimum Required Parameters</h2>
        {% for element in quotation_obj.minimum_parameters %}
        <h3>{{ element }}</h3>
        {% for param in quotation_obj.minimum_parameters[element] %}
        <p>{{ param }}: {{ quotation_obj.minimum_parameters[element][param] }}</p>
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>

    function reloadPage(){

        var periodForm = document.getElementById("period-form");
        periodForm.submit();

    }

    const labels = {{ xlabels | safe }};
    
    const data = {
        labels: labels,
        datasets: [{
            label: "Usage (Wh)",
            backgroundColor: 'rgb(0, 83, 119)',
            borderColor: 'rgb(255, 99, 132)',
            data: {{ usage_values | safe }},
            yAxisID: 'y',
        },
        {
            label: "Peak (W)",
            backgroundColor: 'rgb(6, 167, 125)',
            borderColor: 'rgb(255, 99, 120)',
            data: {{ peak_values | safe }},
            yAxisID: 'y1',
        }]
    };

    const config = {
        type: 'bar',
        data: data,
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    position: 'top'
                },
                title: {
                    display: true,
                    text: 'Average Daily Power Consumption',
                    font: {
                        size: 20,
                        family: "Poppins"
                    }

                }
            },
            scales:{
                y: {
                    type: 'linear',
                    title: "y",
                    display: true,
                    position: 'left',
                },
                y1: {
                    type: 'linear',
                    title: 'y1',
                    display: true,
                    position: 'right',

                    // grid line settings
                    grid: {
                    drawOnChartArea: false, // only want the grid lines for one axis to show up
                    },
                },
            } 
        }
    };

    var ctx = document.getElementById("myChart").getContext("2d");

    var barchart = new Chart(ctx, config);

</script>
{% endblock %}