<!DOCTYPE html>
<html leng="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="../static/base.js"></script>
        <link rel="stylesheet" href="../static/base.css">
        <title>{% block title %}{% endblock %}</title>
    
        {% block style %}{% endblock %}
    
    </head>
    <body>
        <nav>
            {% block heading %}{% endblock %}
            <div class="nav-radios">
                {% block navradios %}{% endblock %}
            </div>
            <div class="navlinks">
                {% block navlinks %}{% endblock %}
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="{{category}}">{{message}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <main>
            {% block main %}{% endblock %}
        </main>
        {% block javascript %}{% endblock %}
    </body>
</html>